.card {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 1px;
  padding: 16px 0px 16px 24px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #d9d9d9;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FF9C6E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
    
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .name {
      font-size: 16px;
      font-weight: 500;
      color: #333;
      font-style: bold;
    }

    .email {
      font-size: 14px;
      font-weight: 400;
      color: #666;
    }
  }
}