.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: white;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1px;

    .text {
        font-size: 16px;
        font-weight: 500;
        padding: 16px 0px 16px 24px;
    }

    .button {
        padding: 16px 24px 16px 0px;
        font-size: 12px;
        font-weight: 400;
    }
}