.header {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border: 1px solid #d9d9d9;;

    .text {
        padding: 24px 0px 8px 24px;
        font-size: 14px;
        font-weight: 400;
    }

    .description {
        padding: 0px 0px 24px 24px;
        font-size: 30px;
        font-weight: 500;
    }
}